<%- include("header") -%>
<section class="admin-header-section">
    <div id="admin-navigation" class="admin-navigation">
        <button id="button-left" class="btn btn-overlay" 
            style="border: 2px solid var(--grey-color); position: fixed; top: 20%; left: 60%; height: 40px; width: 40px; border-radius: 0">
            <i style="color: var(--grey-color)" class="ni ni-align-left-2"></i>
        </button>
        <!-- NAVIGATION -->
        <%- include("smartgirls-navigation") -%>
    </div>
    <button id="button-show" class="btn btn-overlay" 
    style="border: 2px solid var(--grey-color); position: fixed; top: 20%; height: 40px; width: 40px; border-radius: 0">
        <i style="color: var(--grey-color)" class="ni ni-bullet-list-67"></i>
    </button>
    <div class="admin-content">
        <div  class="container">
