<%- include("header") -%>
<section class="admin-header-section">
  <div id="admin-navigation" class="admin-navigation" style="z-index: 3">
    <button id="button-hide" class="btn btn-overlay" style="position: fixed; top: 20%; left: 60%; height: 40px; width: 40px; border-radius: 0; z-index: 1;">
      <i style="color: var(--grey-color)" class="ni ni-align-left-2"></i>
    </button>
    <!-- NAVIGATION -->
    <%- include("smartgirls-navigation") -%>
  </div>
  <button id="button-show" class="btn btn-overlay" style="position: fixed; display: block; top: 20%; height: 40px; width: 40px; border-radius: 0; z-index: 2;">
    <i class="ni ni-bullet-list-67"></i>
  </button>
  <div class="admin-content">
    <div class="container">