<%- include("header") -%>
<section style="min-height: 90vh; margin-top: 15px; display: flex; padding: 60px 0 0 0;">
    <div style="flex-flow: column; flex: 1; background-color: var(--grey-color)">
        <!-- NAVIGATION -->
        <%- include("smartgirls-navigation") -%>
    </div>
    <div style="flex: 5; flex-flow: column;">
        <div  class="container">