  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>smartGirlz<span>.</span></h3>
              <p><i class='bx bx-current-location'></i>
                COICT Science <br>
                Dar es Salaam, Tanzania<br><br>
                <strong>Phone:</strong> +255 754 034 375<br>
                <strong>Email:</strong> smartgirlz_tz@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/SmartgirlzTz?s=08" target="_blank" rel="noopener noreferrer"
                  class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/tzsmartgirls.inict" target="_blank" rel="noopener noreferrer"
                  class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/invites/contact/?i=2gfmm3qbgzey&utm_content=jh75jnc" target="_blank"
                  rel="noopener noreferrer" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/activities">Activities</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Training Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="">HCD Training</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Pitchings Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Computer and Programming Course</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">UI UX Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Figma Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tanzania is made up of some really awesome students and strong-minded professionals.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright text-muted">
        &copy; Copyright <strong><span>SmartGirlz</span></strong>. All Rights Reserved
      </div>
      <div class="credits text-muted">
        Designed by <a href="">TechAutovity</a>
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="./vendor/jquery/jquery.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="./vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="./vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./vendor/venobox/venobox.min.js"></script>
  <script src="./vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="./vendor/counterup/counterup.min.js"></script>
  <script src="./vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="./js/main.js"></script>

  </body>

  </html>