<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>SmartGirlz</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon" />
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i
      |Raleway:300,300i,400,400i,500,500i,600,600i,700,700i
      |Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Sementic UI -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/general.css" rel="stylesheet">
  <link href="/css/gallery.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/articles.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo">
        <a href="/">SmartGirlz<span>.</span></a>
      </h1>
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul id="header-links">
          <li><a class="header-link" href="/home">Home</a></li>
          <li><a class="header-link" href="/about">About Us</a></li>
          <li class="drop-down drop-down-links">
            <a href="#">Activities<span></span></a>
            <ul>
              <li>
                <a class="header-drop-down-link" href="/activities">HCD Training</a>
              </li>
            </ul>
          </li>
          <li><a class="header-link" href="/workforce">The Workforce</a></li>
          <li><a class="header-link" href="/articles">Articles</a></li>
          <li><a class="header-link" href="/gallery">Gallery</a></li>
          <% if (isAuthenticated) { %>
          <li><a class="header-link" href="/dashboard">Dashboard</a></li>
          <% } %>
        </ul>
      </nav>
      <!-- End Nav -->
      <% if (!isAuthenticated) { %>
      <a href="/account/login" class="get-started-btn scrollto">LOGIN</a>
      <% }else { %>
      <a href="/account/logout" class="get-started-btn scrollto">LOGOUT</a>
      <% } %>
    </div>
  </header>
  <!-- End Header -->
  <script>
    (function() {
      var currentLink = location.pathname.split("/")[1];
      if (currentLink === "") return;
      var headerLinks = document.querySelectorAll(".header-link");
      for (var i = 0, len = headerLinks.length; i < len; i++) {
        if (headerLinks[i].getAttribute("href").indexOf(currentLink) !== -1) {
          headerLinks[i].className += " active-header-link";
        }
      }
      var headerDropDownLinks = document.querySelectorAll(
        ".header-drop-down-link"
      );
      for (var i = 0, len = headerDropDownLinks.length; i < len; i++) {
        if (
          headerDropDownLinks[i].getAttribute("href").indexOf(currentLink) !==
          -1
        ) {
          headerDropDownLinks[i].className += " active-header-drop-down-link";
        }
      }
    })();
  </script>
</body>

</html>