<nav style="margin-top: 80px; width: 100%; 
height: 300px; box-sizing: border-box; display: flex; flex-direction: column;">
    <div class="admin-link">
        <a href="/dashboard"><i class="ni ni-tv-2"></i>Dashboard</a>
    </div>
    <div class="admin-link">
        <a href="/article"><i class="ni ni-single-copy-04"></i>Articles</a>
    </div>
    <div class="admin-link">
        <a href="/article/add-article">Add article</a>
    </div>
</nav>