<nav style="margin-top: 80px; padding-left: 30px; width: 100%; 
border: 1px solid var(--main-color);
height: 300px; box-sizing: border-box; display: flex; flex-direction: column;">
    <a href="/dashboard">Dashboard</a>
    <a href="/article">Articles</a>
    <a href="/article/add-article">Add article</a>
</nav>