<%- include ("includes/header") %>
    <section class="container" style="min-height: 70vh; margin-top: 50px;">
        <div class="box-shadow" style="padding: 10px;">
            <h2>About us</h2>
            <p>We are a consortium made up of the University of Dar es Salaam ICT Incubator (UDICTI), Youth for Children (Y4C) innovation Hub, Tanzania Data Lab (dLab), and the ICT Commission of Tanzania with the main aim of supporting and empowering girls and young women to join ICT professional. This is done every year by offering training and competitions to build capacity on ICT to secondary school girls.</p>
            <p>The consortium for the first time commemorated the International Girls in ICT Day on 25th April, 2019 at the College of Information and Communication Technologies (CoICT). The International Girls in ICT Day is an initiative backed by all International Telecommunication Union (ITU) Member States that aims to encourage and empower girls and young women to consider studies and careers in the growing field of Information and Communication Technologies (ICTs). The day is celebrated every year on the fourth Thursday of the month of April.</p>
            <p>During the day, on 25th April, 2019, the consortium launched a capacity building programme for secondary school female pupils, named “SmartGirlz ICT Competition”. The SmartGirlz ICT Competition is a programme that focuses on building capacity on ICT to secondary school girls’ students through training on soft and technical ICT skills, and thereafter nurturing the girls as they gain the ability to solve social challenges using ICT. The competition rewards the best solutions as a motivation towards realization of career opportunities.</p>
        </div>
    </section>
<%- include ("includes/footer") %>