<%- include ("includes/header")%>
<section class="container" style="min-height: 100vh ;margin-top: 50px;">
    <div class="box-shadow" style="padding: 10px;">
        <h2>Activities</h2>
        <p>To implement the programme, the consortium recruited six (6) secondary schools, among them, three (3) are government schools (Kawe Ukwamani, Mikocheni and Salma kikwete) and three (3) private schools (Feza Girls, Baobab Girls and Alpha). Female (girls) students in the recruited school were trained in three phases on theory and technical aspects in software development. Moreover, students participated in solving real social challenges through in-school competitions, following which the winning teams were further coached and offered technical training to implement their solutions and as well as prepare for inter-schools competition. The finale of the SmartGirlz ICT Competition was to be held during the International Girls in ICT Day in 2020, whereby the three top most winning teams will be awarded. However this plan was interrupted by lock-down due to COVID-19 pandemic where schools were closed and hence the programme stopped abruptly.</p>
        <h2>Phase 1</h2>
        <p>During Phase 1 of this programme, students from six schools were trained on training that took five months (July – November, 2019) included theory, technical and competitions. In the theory part, students were trained on Innovation, Human Centered Design (HCD) skills to nurture their creativity, research, innovation, soft skills and software systems design. During this phase, students were divided into teams of five to six students in each team. A total of 298 students from six schools participated in this programme. At the end of phase one (theory part), each team was supposed to come up with a prototype of a solution to the following challenge i.e. Effect of teen pregnancy and early marriage on girls’ career development. Each team came up with a solutions idea and a prototype of the solutions they generated. The outputs were impressive, students managed to generate ideas as a solution the set challenge in the following categories:</p>
        <ul style="list-style: bullet">
            <li>Campaigns</li>
            <li>Mobile application/text messages</li>
            <li>Smart Watch</li>
            <li>Formal education to Communication/Society</li>
            <li>Empowering economically young girls and parents</li>
            <li>Entreprenuership skills for parents to conquer poverty and afford girls needs</li>
            <li>Eliminate bad cultural habits that lead to early pregnancy</li>
        </ul>
        <h2>Phase 2</h2>
        <p>In phase two (Oct – Nov, 2019), the students did hands-on practical work to design mobile and web-based software. In the first week of December, 2019, the teams in each school entered into an in-school competitions where the generated solution prototypes were evaluated to get three (3) best ideas as shown in table 1. Note that Baobab and Alpha did not do In-school competition as they had already gone for a December long vacation. </p>
        <div>
            <table>
                
            </table>
        </div>
    </div>
</section>
<%- include ("includes/footer") %>
