<%- include("includes/admin-header") -%>
<!-- CONTENTS -->
<form name="form">
    <legend style="text-align: center; font-size: 40px;">ADD NEW ARTICLE</legend>
    <div class="form-group">
        <label for="title"></label>
        <input type="text" class="form-control text-center" id="title" placeholder="title"
            name="title">
    </div>
    <div class="form-group">
        <label for="picture"></label>
        <input type="file" class="form-control text-center" id="picture" placeholder="picture"
            name="picture">
    </div>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control text-center" id="description" placeholder="extra stuff"
            name="">
    </div>
    <div class="form-group">
        <label for="description"></label>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="description"></textarea>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" id="login-button">Save article</button>
    </div>
    <div class="not-spin">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</form>
<%- include("includes/admin-footer") -%>