 <div class="col-lg-4 col-md-auto" style="margin:10px 0;">
     <div class="card">
         <img class="card-img-top" src="<%= src %>">
         <div class="card-body">
             <div class="card-title">Matt Giampietro</div>
                 <a class="text-muted">Friends</a>
                 <p class="card-text">Matthew is an interior designer living in New York.</p>
             <div class="card-body">
                 <span class="float-right">
                     Joined in 2020
                 </span>
                 <span>
                     <i class="user icon"></i>
                     75 Students
                 </span>
             </div>
         </div>

     </div>
 </div>