<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
    <div class="card icon-box">
        <img class="card-img-top" src="<%= src %>">
        <div class="card-body">
            <div class="card-title"><strong>Alpha Secondary School</strong></div>
            <a class="card-text text-muted">Students</a>
            <p class="card-text">Our beloved students are trying to improve their solutions models during Phase 1 in 2019.</p>
        </div>
        <div class="card-footer">
            <span class="float-right">
                Joined in 2019
            </span>
            <span>
                <i class='bx bxs-user'></i>
                75 Students
            </span>
        </div>
    </div>
</div>