<%- include("includes/admin-header") %>
<div id="services " class="services">
    <div class="container" data-aos="fade-up">

        <div class="">
            <div class="section-title col-6">
                <h2>Articles</h2>
                <p>our Articles</p>
            </div>
            <div class="col-6">
                <a href="/add-article">
                    <button type="button" class="btn ui primary labeled icon button"
                        style="background: var(--other-color) !important; border: 1px solid var(--other-color) !important">
                        <i class="plus icon"></i>
                        Add Article
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <% for(i = 1; i <= 11; i++) { 
                const src = "images/" + i + ".jpg" %>
            <%- include ("./article-card", {src: src}) %>
            <% } %>
        </div>
    </div>
</div>
<%- include("includes/admin-footer") -%>