<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
    <div class="card icon-box">
        <img class="card-img-top" src="<%= src %>">
        <div class="card-body">
            <div class="card-title">Matt Giampietro</div>
            <a class="card-text text-muted">Friends</a>
            <p class="card-text">Matthew is an interior designer living in New York.</p>
        </div>
        <div class="card-footer">
            <span class="float-right">
                Joined in 2020
            </span>
            <span>
                <i class='bx bxs-user'></i>
                75 Students
            </span>
        </div>
    </div>
</div>