<% 
let coachers = [
    {
        name: "Fatuma Simba",
    },
    {
        name: "Josephine Stephen"
    },
    {
        name: "khadija Mkocha",
    },
    {
        name: "Joseph Cosmas"
    },
    {
        name: "Hellen Maziku"
    },
    {
        name: "Mahadia Tunga"
    },
    {
        name: "Somoe Mkwachu"
    }
];
%> 
<h5>Coachers</h5>
<table class="table mt-10">
    <thead>
        <tr>
          <th scope="col" style="width: 20px;">Sn</th>
          <th scope="col">Full name</th>
        </tr>
    </thead>
    <tbody>
        <% if (coachers.length != 0) { %> 
            <% for (var i = 0; i < coachers.length; i++) {%> 
                <tr>
                    <td scope="row"><%= i + 1 %> </td>
                    <td><%= coachers[i].name %> </td>
                </tr>
            <% } %> 
        <% } %> 
        <% if (coachers.length == 0) { %> 
            <tr>
                <td scope="row" colspan="2" class="text-danger">Currently there are no coachers</td>
            </tr>
        <% } %> 
    </tbody>
</table>