<h5>Coachers</h5>
<table class="table mt-10">
    <thead>
        <tr>
          <th scope="col" style="width: 20px;">Sn</th>
          <th scope="col">Full name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td>Fatuma simba</td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Josephine stephen</td>
        </tr>
        <tr>
            <td scope="row">3</td>
            <td>Khadija mkocha</td>
        </tr>
        <tr>
            <td scope="row">4</td>
            <td>Joseph Cosmas</td>
        </tr>
        <tr>
            <td scope="row">5</td>
            <td>Feza Girls Sec School</td>
        </tr>
        <tr>
            <td scope="row">6</td>
            <td>Hellen maziku</td>
        </tr>
        <tr>
            <td scope="row">7</td>
            <td>Mahadia Tunga</td>
        </tr>
        <tr>
            <td scope="row">8</td>
            <td>Somoe Mkwachu</td>
        </tr>
    </tbody>
</table>