<%- include("includes/header") -%>
<section style="min-height: 90vh; margin-top: 15px; display: flex;">
    <div style="flex-flow: column; flex: 1; background-color: var(--grey-color)">
        <!-- NAVIGATION -->
        <%- include("includes/smartgirls-navigation") -%>
    </div>
    <div style="flex: 4; flex-flow: column;">
        <div  class="container">
            <!-- CONTENTS -->
        </div>
    </div>
</section>
<%- include("includes/footer") -%>