<%- include("includes/header") -%>
<section style="min-height: 90vh; margin-top: 15px; display: flex;">
    <div style="flex-flow: column; flex: 1;">
        <!-- NAVIGATION -->
        <nav style="margin-top: 80px; padding-left: 30px; width: 100%; border: 1px solid black; ">
            <a href="/articles">Articles</a>
        </nav>
    </div>
    <div style="flex: 4; flex-flow: column;">
        <div  class="container">
            <!-- CONTENTS -->
        </div>
    </div>
</section>
<%- include("includes/footer") -%>