<%- include("includes/header") -%>
<section style="min-height: 90vh; margin-top: 15px; display: flex; padding: 60px 0 0 0;">
    <div style="flex-flow: column; flex: 1; background-color: var(--grey-color)">
        <!-- NAVIGATION -->
        <%- include("includes/smartgirls-navigation") -%>
    </div>
    <div style="flex: 5; flex-flow: column;">
        <div  class="container">
            <!-- CONTENTS -->
            <h2>Dashboard content</h2>
        </div>
    </div>
</section>
<%- include("includes/footer") -%>