<% 
var phaseTrainer = [
    {
        school: "Alpha Sec. School",
        trainer: "Beleko & Time"
    },
    {
        school: "Salma Kikwete Sec. School",
        trainer: "Rajab & Alfeo"
    },
    {
        school: "Kawe Ukwamani Sec. School",
        trainer: "marab & Joseph"
    },
    {
        school: "Feza Girls Sec. School",
        trainer: "Hasna & Nguse"
    },
    {
        school: "Baobab Girls Sec. School",
        trainer: "Esther"
    }
];
%>
<h5>Phase <%= phase %> Trainers</h5>
<p>Technical Training Facilitators</p>
<table class="table table-striped table-responsive-md mt-10">
    <thead>
        <tr>
            <th scope="col" style="width: 20px">Sn</th>
            <th scope="col">School name</th>
            <th scope="col">Facilitators</th>
        </tr>
    </thead>
    <tbody>
        <% if (phaseTrainer.length != 0) { %> 
            <% for (var i = 0; i < phaseTrainer.length; i++) { %>
                <tr>
                    <td scope="row"><%= i + 1 %> </td>
                    <td><%= phaseTrainer[i].school %> </td>
                    <td><%= phaseTrainer[i].trainer %> </td>
                </tr>
            <% } %> 
        <% } %>
        <% if (phaseTrainer.length == 0) { %> 
            <tr>
                <td class="text-danger" style="text-align: center;" colspan="3">No Trainner assigned</td>
            </tr>
        <% } %>
    </tbody>
</table>
 