<h5>Phase <%= phase %>  Trainers</h5>
<p>Technical Training Facilitators</p>
<table class="table table-striped table-responsive-md mt-10">
    <thead>
        <tr>
          <th scope="col" style="width: 20px;">Sn</th>
          <th scope="col">School name</th>
          <th scope="col">Facilitators</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td>Alpha Sec. School</td>
            <td>Beleko & Tlem</td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Salma kikwete Sec. School</td>
            <td>Rajab & Alfeo</td>
        </tr>
        <tr>
            <td scope="row">3</td>
            <td>Kawe Ukwamani Sec. School</td>
            <td>Marab & Joseph</td>
        </tr>
        <tr>
            <td scope="row">4</td>
            <td>Feza Girls Sec. School</td>
            <td>Hasna & Nguse</td>
        </tr>
        <tr>
            <td scope="row">5</td>
            <td>Baobab Girls Sec. School</td>
            <td>Esther</td>
        </tr>
    </tbody>
</table>