 <div class="col-lg-4 col-md-6 portfolio-item filter-web">
     <div class="portfolio-wrap">
         <img src="<%= src %>" class="img-fluid" alt="">
         <div class="portfolio-info">
             <h4>2021</h4>
             <p>School competitions</p>
             <div class="portfolio-links">
                 <a href="<%= src %>" data-gall="portfolioGallery" class="venobox"
                     title="View full"><i class="bx bx-plus"></i></a>
                 <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
             </div>
         </div>
     </div>
 </div>