 <div class="col-lg-4 col-md-6 portfolio-item filter-web">
   <div class="portfolio-wrap">
     <img src="<%= src %>" class="img-fluid" alt="">
     <div class="portfolio-info">
       <p><%= caption %> </p>
       <div class="portfolio-links">
         <a href="<%= src %>" data-gall="portfolioGallery" class="venobox" title="View full"><i class="fa fa-eye"></i></a>
       </div>
     </div>
   </div>
 </div>