<%- include("includes/admin-header") -%>
<!-- CONTENTS -->
<h2>list all trainer with associate schools, list to add new trainer and associate him/her to respective school</h2>
<%- include("includes/admin-footer") -%>