@import "./style.css";
.content-section {
  background: hsl(0, 0%, 98%);
  /* padding: 7px 0; */
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.section-title {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.article-title {
  color: #444444;
  font-size: 35px;
  line-height: 45px;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  text-align: left;
  font-size: 1.2em;
}

.extra-article-content {
  white-space: pre-line;
  font-size: 1.2em;
}


.article-img {
  height: 400px;
  width: 100%;
  margin: 0;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a{
    color: var(--main-color);
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}


.add-article .add-article-form {
  padding: 30px;
  background: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(153, 148, 148, 0.664);
  border-radius: 5px;
}

#imgPreview {
  margin: 20px;
  align-items: center;
}

label{
  font-weight: bold;
}

@media (max-width: 840px) {
  .section-title p {
    font-size: 30px;
  }
  .article-img {
    height: 350px;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 633px) and (min-width: 601px) {
  .section-title p {
    font-size: 25px;
  }
  .article-img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 455px) {
  .section-title p {
    font-size: 25px;
  }
  .article-img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 400px) {
  .section-title p {
    font-size: 20px;
  }
  #add-article-button {
    height: 40px;
    font-size: 12px !important;
  }
  .article-img {
    height: 300px;
    width: 100%;
    margin: 0;
  }
}