.drop-down-links a:hover {
    color: ;
}

nav {
    height: 50px;
}
.navbar {
    padding: 0;
}
.header-links {
    height: 50px;
}
.header-links a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}
.brand-name a {
    font-size: 20px;
    font-weight: 6550;
    letter-spacing: 3px;
}
.brand-name a:hover {
    transition: 0.5s;
    color: #f3f3f3;
}

.header-links a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fafafa;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.header-links a:hover {
    transition: 0.5s;
    color: var(--white-color);
}
.header-links a:hover:after {
  color: var(--black-color);
  width: 100%;
}

.carousel-item{
    height: 75vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover; 
}
.carousel-caption{
   bottom: 270px;
}
.carousel-caption h1{
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 35px;
   color: #FF5056;
}
.carousel-caption p{
   width: 75%;
   margin: auto;
   font-size: 25px;
   font-weight: 550;
   line-height: 1.9;
}

/* SPONSORS */
.sponsors h2 {
    color: #000;
    font-size: 50px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.sponsor-img{
    max-width: 80%; 
    height: auto" 
}
