@import "./style.css";
.nav-menu .drop-down ul li:hover {
    color: var(--white-color) !important;
}
a {
    text-decoration: none !important;
    color: var(--white-color);
}
.carousel-item{
    height: 75vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover; 
}
.carousel-caption{
   bottom: 270px;
}
.carousel-caption h1{
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 35px;
   color: #FF5056;
}
.carousel-caption p{
   width: 75%;
   margin: auto;
   font-size: 25px;
   font-weight: 550;
   line-height: 1.9;
}

@media (max-width: 426px) {
    .image-home {
        min-height: 345px !important;
        height: 345px;
    }
}

/* SPONSORS */
.sponsors{
    background-image: url(../images/01.jpg);
    color: #fff;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}
.sponsors h2 {
    color: #fff;
    font-size: 50px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.sponsor-img{
    max-width: 80%; 
    height: auto" 
}

/* Recent Articles */
.recent-articles, .intro{
    margin-top: 3em;
}
.filter-active:hover {
    transform: scale(1.1);
}