:root {
    --main-color: #a61646;
    --black-color: #000000;
    --white-color: #ffffff;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.main-background {
    background: var(--main-color);
}
.white-background {
    background: var(--white-color);
}
.main-color {
    color: var(--main-color);
}
.black-color {
    color: var(--black-color);
}
.white-color {
    color: var(--white-color);
}
.box-shadow {
    -webkit-box-shadow: 0 4px 2px -2px rgb(0 0 0 / 6%), 0 4px 10px rgb(0 0 0 / 6%);
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 6%), 0 4px 10px rgb(0 0 0 / 6%);
}

/* SPONSOR */
.sponsors h2 {
    color: #000;
    font-size: 50px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.sponsor-img{
    max-width: 80%; 
    height: auto" 
}