:root {
    --main-color: #fc4445;
    --black-color: #000000;
    --white-color: #ffffff;
    --grey-color: #e9ecef;
    --other-color: #2f2fa2;
    --product-gap: 10px;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 24px;
}
.main-background {
    background: var(--main-color);
}
.white-background {
    background: var(--white-color);
}
.main-color {
    color: var(--main-color);
}
.black-color {
    color: var(--black-color);
}
.white-color {
    color: var(--white-color);
}
.box-shadow {
    -webkit-box-shadow: 0 4px 2px -2px rgb(0 0 0 / 6%), 0 4px 10px rgb(0 0 0 / 6%);
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 6%), 0 4px 10px rgb(0 0 0 / 6%);
}
.content-container > div {
    margin-bottom: 30px;
}
.active-header-link {
    color: var(--main-color) !important;
}
a.active-header-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--main-color);
    width: 100%; 
    left: 0; 
}
.active-header-drop-down-link {
    background: var(--main-color) !important;
    color: var(--white-color) !important;
}
@media (max-width: 991px) {
    .active-header-link {
        background: var(--main-color) !important;
        color: var(--white-color) !important;
    }
}